.hero-research {
    margin-top: -6.5em;
    padding-top: 3.1em;
    padding-bottom: 6.5em;
    // p {
    //     margin-bottom: 0em;
    // }
}

.research-icon {
    width: 20em;
	border-radius: 8px;    /* Rounded corners */
}