// $brand-color: #f07167;
// $secondary-brand-color: #fdfcdc;
// $brand-color: #F27059;
// $secondary-brand-color: #F25C54;
$brand-color: #355070;
$secondary-brand-color: #355070;
$accent-color-dark: #F25C54;
$accent-color_light: #F27059;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
